html {
    scroll-behavior: smooth;
}

body { 
    background-color: #e8e6e6;
    padding: 0px;
    margin: 0px;
} 

body::-webkit-scrollbar-thumb {
    background-color: #e8e6e6;
    border: solid 1px transparent;
    border-radius: 10px;
}

body::-webkit-scrollbar-track {
    background-color: #f4b95f;
    border: solid 1px transparent;
}

body::-webkit-scrollbar {
    width: 1rem;
}

.container {
    background-color: beige;
    margin: 0px;
}

.navigation {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 5px;
    background-color: beige;
}
.others {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.others a {
    font-family: 'Flavors', cursive;
    font-size: 35px;
    text-decoration: none;
    color: black;
    transition: all 0.5s ease-out;
}

.others a:hover {
    color: #F08080; 
    font-size: 70px;
    text-decoration: overline;
    transition: all 0.5s ease-out;
}

.background {
    margin-top: 20px;
    background-color: beige;
    width: 100%;
    height: 564px;
    display: flex;
    justify-content: space-evenly;
    justify-content: auto;
    align-items: center;
}

#Me {
    width: 750px;
}

.background h1 {
    margin: 0px;
    font-family: 'Fredoka One', cursive;
    font-size: 65px;
    text-decoration: underline ;
    font-weight: bold;
}

.background p {
    margin: 0px;
    padding: 15px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
}

.know {
    margin: 0px;
    width: 100%;
    height: 150px;
    background-color: #454647;
}

.know h1 {
    padding-top: 50px;
    text-align: center;
    font-family: 'Bowlby One SC', cursive;
    font-size: 80px;
    color: #C3AF91;
}

.containerTwo {
    background-color: rgba(102, 205, 170, 0.4);
}

#header h1 {
    margin-top: 0px;
    padding-top: 50px;
    text-align: center;
    font-family: 'Bungee Inline', cursive;
    font-size: 40px;
}

.About {
    display: flex;
    justify-content: center;
}

#profile {
    width: 400px;
    height: 700px;
}

.left {
    width : 475px;
}

.right {
    width: 475px;
}

.left h3 {
    padding-left: 100px;
    font-family: 'Fredoka One', cursive;
    font-size: 30px;
    font-weight: bold;
}

.left h1{
    margin: 0px;
    padding-right: 55px;
    font-family: 'Spectral SC', serif;
    font-size: 25px;
}

.left p {
    margin: 5px;
    padding-left: 0px;
    padding-right: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}

.right a {
    font-size: 40px;
    text-decoration: none;
    color: black;
    transition: all 0.5s ease-out;
}

.right a:hover {
    color: white; 
    font-size: 50px;
    text-decoration: overline;
    transition: all 0.5s ease-out;
}

a[href$="Resume.docx"]::after {
    content: url(https://upload.wikimedia.org/wikipedia/commons/4/4f/Microsoft_Word_2013_logo.svg);
    padding: 20px;
}

.right h3 {
    padding-left: 175px;
    font-family: 'Fredoka One', cursive;
    font-size: 30px;
    font-weight: bold;
}
.right h1{
    margin: 0px;
    padding-left: 55px;
    font-family: 'Spectral SC', serif;
    font-size: 30px;
    font-weight: bold;
}

.right p {
    margin: 5px;
    padding-left: 50px;
    padding-right: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}

.right iframe {
    padding-left: 50px;
}

.See {
    margin: 0px;
    width: 100%;
    height: 150px;
    background-color: #454647;
}

.See h1 {
    padding-top: 50px;
    text-align: center;
    font-family: 'Bowlby One SC', cursive;
    font-size: 80px;
    color: #C3AF91;
}

.containerThree {
    background-color: rgba(112, 72, 60, 0.4);
}

#Gallery h1 {
    margin: 0px;
    padding-top: 50px;
    text-align: center;
    font-family: 'Bungee Inline', cursive;
    font-size: 40px;
}

.set1 {
    padding-top: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.description {
    display: flex;
    justify-content: space-around;
    margin: 0px;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-right: 50px;
    font-family: 'Mulish', sans-serif;
    font-size: 23px;
    font-weight: bold;
    font-style: italic;
}

.description p {
    margin: 0px;
}

.description1 {
    display: flex;
    justify-content: space-around;
    margin: 0px;
    padding-top: 30px;
    font-family: 'Mulish', sans-serif;
    font-size: 23px;
    font-weight: bold;
    font-style: italic;
}

.description1 p {
    margin: 0px;
}

.set1 img {
    opacity: 0.7;
}

.set1 img:hover {
    opacity: 1;
}

#baymax {
    width: 350px;
}
#bear {
    width: 350px;
}

#governor {
    width: 350px;
}

.set2 {
    padding-top: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Mulish', sans-serif;
    font-size: 10px;
}

.set2 img {
    opacity: 0.7;
}

.set2 img:hover {
    opacity: 1;
}

#movie {
    width: 400px;
}

#movie2 {
    width: 400px;
}

.set3 {
    padding-top: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.set3 img {
    opacity: 0.7;
}

.set3 img:hover {
    opacity: 1;
}

#young {
    width: 300px;
}

#industry {
    width: 325px;
}

#asc {
    width: 350px;
}

.follow {
    margin: 0px;
    width: 100%;
    height: 150px;
    background-color: #454647;
}

.follow h1 {
    padding-top: 50px;
    text-align: center;
    font-family: 'Bowlby One SC', cursive;
    font-size: 80px;
    color: #C3AF91;
}

.containerFour {
    background-color: #999997;
}

#Contact h1 {
    margin: 0px;
    padding-top: 50px;
    text-align: center;
    font-family: 'Bungee Inline', cursive;
    font-size: 40px;
    color: black;
}

.containerFour {
    height: 1000px;
}

.containerFour h1 {
    margin: 0px;
    padding-top: 30px;
    text-align: center;
    font-family: 'Fredoka One', cursive;
    color: #F5FFFA;
}

.containerFour p {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
    color: #e1e1e1;
}

.social {
    text-align: center;
}

.social img {
    padding-top: 50px;
    padding-right: 10px;
    opacity: 0.7;
    width: 80px;
}

.social a {
    font-family: 'Aldrich', sans-serif;
    font-size: 30px;
    text-decoration: none;
    color: black;
    transition: all 0.5s ease-out;
}

.social a:hover {
    color: #e3b6b5; 
    font-size: 60px;
    text-decoration: overline;
    transition: all 0.5s ease-out;
}

.containerFour h2 {
    margin: 0px;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    font-family: 'Aldrich', sans-serif;
    font-size: 40px;
    color: #F5FFFA;
}

.main {
    padding-top: 5px;
    display: flex;
    justify-content: center;
}

.main img {
    width: 60px;
    opacity: 0.7;
    transition: all 0.5s ease-out;
}

.main img:hover {
    opacity: 1;
    width: 80px;
    color: black;
    transition: all 0.5s ease-out;
}
